html{
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(40deg, black, rgb(36, 36, 36));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn-outline-secondary:hover {
    background-color: rgb(22, 22, 22);
}

.navbar-nav{
    font-size: 18px;
}

section{
    height: 100vh;
}

h1#project-text,
h1#contacts-text{
    margin: 44px; 
    color: rgb(134, 134, 134);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.card{
    font-family: 'Montserrat', sans-serif;
}

.fa{
    width: 50px;
    font-size: 30px;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}

.fa:hover{
    opacity: 20%;
}

#projects img{
    margin: auto;
    display: block;
    width: 600px;
    height: auto;
}

@media (max-width: 992px){
    #my_card{
        width: 16.5rem;
        text-align: center;
    }

    #projects{
        margin-top: 200px;
    }
}