:root {
  --survey-background: #141118;
  --font-color: rgb(214, 209, 209);
  --hover-color: rgb(85, 76, 92);
}

html {
  height: 100%;
  max-width: 1000px;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

.wrapper {
  text-align: center;
  background-color: var(--survey-background);
  border-radius: 10px;
}

#description {
  text-align: center;
}

#submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

#dropdown {
  background-color: var(--font-color);
  width: 50%;
  height: 25px;
  font-size: 20px;
  color: grey;
}

#dropdown:focus {
  background: var(--hover-color);
  color: white;
}

#title {
  color: var(--font-color);
  text-align: center;
  text-decoration: underline;
}

#radio-wrapper,
#checkbox-wrapper {
  padding-top: 15px;
}

.radio-option,
.checkbox-option {
  color: var(--font-color);
  font-size: 12px;
}

body {
  background: linear-gradient(45deg, #271755, #685c6d 30%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

label {
  font-size: 25px;
  color: var(--font-color);
  text-align: center;
}

label.radio-text,
label.checkbox-text {
  font-size: 22px;
}

button {
  height: 80px;
  width: 280px;
  border-radius: 5px;
  background-color: var(--font-color);
  font-size: 26px;
}

span {
  display: block;
  padding-bottom: 10px;
}

textarea {
  width: 500px;
  height: 250px;
  background-color: var(--font-color);
  font-size: 20px;
}

textarea:hover {
  background-color: var(--hover-color);
  color: var(--font-color);
}

input {
  background-color: var(--font-color);
  width: 50%;
  height: 25px;
  font-size: 20px;
  margin-bottom: 1.4rem;
}

input:hover {
  background-color: var(--hover-color);
}

input[type="radio"],
input[type="checkbox"] {
  width: 15px;
  height: 15px;
}
